<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

             xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                    http://www.springframework.org/schema/security
                    http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http>

        <intercept-url pattern="/login" access="isAnonymous()"/>
        <intercept-url pattern="/registration/**" access="isAnonymous()"/>
        <intercept-url pattern="/resources/**" access="permitAll"/>
        <intercept-url pattern="/**/ticketForEvent" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
        <logout logout-success-url="/login" logout-url="/j_spring_security_logout"/>
        <csrf disabled="true"/>
        <!--<intercept-url pattern="*" access="isRememberMe()"/>-->
       <form-login
                login-page="/login"
                login-processing-url="/j_spring_security_check"
                username-parameter="j_username"
                password-parameter="j_password"
                authentication-success-forward-url="/"
                authentication-failure-url="/login"

        />
       <remember-me remember-me-parameter="remember-me"/>
    </http>

    <authentication-manager>
        <authentication-provider ref="authenticationProvider">
           <!--<user-service>
                <user name="user" password="user" authorities="ROLE_USER"/>
                <user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN"/>
            </user-service>-->
            <!--<password-encoder ref="encoder" />-->
        </authentication-provider>
    </authentication-manager>


    <!--<beans:bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <beans:constructor-arg>
            <beans:list>
                <beans:ref bean="authenticationProvider" />
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>-->

    <beans:bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="userDetailsServiceImpl"/>
        <beans:property name="passwordEncoder" ref="encoder"/>
    </beans:bean>

    <beans:bean id="userDetailsServiceImpl" class="beans.services.UserDetailsServiceImpl"/>

    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="11"/>
    </beans:bean>

</beans:beans>